/*
/////////////////////////////////////////////////////////////
// Register CSS - Animations pour le formulaire
/////////////////////////////////////////////////////////////
*/



/* 
/////////////////////////////////////////////////////////////
// Animation des inputs et des checkbox style to-do list
/////////////////////////////////////////////////////////////
*/

.completed-task {
    text-decoration: line-through; /* Ligne rayée pour les tâches validées */
    color: #6B7280; /* Couleur de texte grise pour les tâches terminées */
    transition: text-decoration 0.3s ease; /* Animation de transition */
}

/* Animation de la checkbox */
input[type="checkbox"] {
    transition: transform 0.3s ease;
}

/* Appliquer un effet d'échelle lorsqu'elle est cochée */
input[type="checkbox"]:checked {
    transform: scale(1.1);
}



/* 
/////////////////////////////////////////////////////////////
// Personnalisation de la gestion d'erreur 
/////////////////////////////////////////////////////////////
*/

/* Couleur du texte d'erreur */
.text-red-500 {
    color: #dc3545; 
}

/* Rendre l'input rouge lorsque qu'il engendre une erreur */
.error-input {
    outline: 2px solid red; /* Change l'outline en rouge */
    outline-color: #EF4444; /* focus:ring-red-500 */
}

.error-input::placeholder {
    color: red; /* Change la couleur du placeholder en rouge */
}
